<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">

	در این قسمت ما برای ارتباط با دیتابیس پکیج
	System.Data.SqlClient
	نصب کنیم

	<targets async="true">
		<target name="mydatabase" xsi:type="database" >
			<connectionString>data source=.;initial catalog=Nlog;integrated security=true;</connectionString>
			
			اول دیتابیس رو ایجاد کنیم و با توجه به اون باید کامند رو وارد کنیم
			<commandText>
				insert into dbo.log(MachineName,Logged,Level,Message,Logger,CallSite,Exception)
				values(@MachineName,@Logged,@Level,@Message,@Logger,@CallSite,@Exception);
			</commandText>
			<parameter name="@MachineName" layout="${machinename}"></parameter>
			<parameter name="@Logged" layout="${Logged}"></parameter>
			<parameter name="@Level" layout="${Level}"></parameter>
			<parameter name="@Message" layout="${Message}"></parameter>
			<parameter name="@Logger" layout="${Logger}"></parameter>
			<parameter name="@CallSite" layout="${CallSite}"></parameter>
			<parameter name="@Exception" layout="${Exception}"></parameter>
		</target>
	</targets>

	<rules>
		<logger name="*" writeTo="mydatabase"></logger>
	</rules>
</nlog>