@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    اینجا هم میتوانیم یوآرال ایجاد کنیم
    <a href="@Url.RouteUrl("route1", new { id = 3, name = "salam" })">link to privacy</a>

</div>
